body {
    font-family: sans-serif;
}

main {
    background-color: #EEE;
    border-radius: 2;
    padding: 5px;

}

header {
    text-align: center;
}

#img-div {
    background-color: white;
    margin: 10px;
    text-align: center;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

#img-caption {
    font-size: 0.9em;
    margin: 10px
}

#image {
    display: block;
    height: auto;
    width: 90%;
    margin:auto;
    max-width: 100%;
}

h3 {
    text-align: center;
    margin: 40px 0;
}

#tribute-info {
    justify-self: center;
    margin: auto;
    max-width: 600px;
}

ul {
    font-size: 1em;
    padding-left: 20px;
}

li {
    margin: 15px 0;
    line-height: 25px;
}

#quote-container {
    margin-top: 50px;
}

#quote-person {
    margin-top:  -20px;
}

#read-more {
    line-height: 30px;
}